alerta-gmail.json
{
  "name": "Despertador_3",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "5c8df8b6-cab4-4d70-9adb-51b47fd9bf6b",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "eventos",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "aviso_enviado",
              "condition": "eq",
              "keyValue": "FALSE"
            },
            {
              "keyName": "minutos_aviso",
              "condition": "gt",
              "keyValue": "0"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "8126fe53-ca9f-4f42-a99d-5c00c4437bf3",
      "name": "Get many rows",
      "credentials": {
        "supabaseApi": {
          "id": "3Og4kjavxYNq5Wcz",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "8c255773-f37a-4de5-937d-4b9a48564844",
              "leftValue": "={{ $now >= DateTime.fromSQL($json.fecha + ' ' + $json.hora, { zone: 'Europe/Madrid' }).minus({ minutes: $json.minutos_aviso }) }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        0
      ],
      "id": "6d35d7bb-3280-4b76-b134-197c66f35fc7",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "felipelluch03@gmail.com",
        "subject": "=Recordatorio: {{ $json.titulo }}",
        "message": "=Hola,  Tienes el evento \"{{ $json.titulo }}\" programado para el {{ $json.fecha }} a las {{ $json.hora }}.  ¡No llegues tarde!",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        624,
        -96
      ],
      "id": "86932462-4133-433c-8cd9-be5d14c81eca",
      "name": "Send a message",
      "webhookId": "7691f3c1-93c8-4319-bfad-8f9b5e25e79f",
      "credentials": {
        "gmailOAuth2": {
          "id": "TEpdxXh4TxNenWoK",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "eventos",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('If').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "aviso_enviado",
              "fieldValue": "={{ true }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        832,
        -96
      ],
      "id": "74dda4f2-157e-4005-bbe9-536fc394b933",
      "name": "Update a row",
      "credentials": {
        "supabaseApi": {
          "id": "3Og4kjavxYNq5Wcz",
          "name": "Supabase account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "cdcb09a2-3415-438c-bf16-69b1dc3285c7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0629f7d7b813d14d017157b963b2760332e9a7f78651219b2d164ab06e9540f0"
  },
  "id": "tvHvqcofG4-VQZtug_eKO",
  "tags": []
}